h1 {
    font-weight: 900 !important;
    font-size: clamp(2.5rem,9vw,5rem) !important;
}
h2 {
    font-weight: 600 !important;
    font-size: clamp(2rem,5vw,3rem) !important;
}
h3 {
    font-weight: 500 !important;
    font-size: clamp(1rem,5vw,1.5rem) !important;

}
h1,h2,h3,h4,h5,h6,li,a,{
   margin: 0 !important; 
}
.title {
    font-size: 128px;
    color: #fff;
}
.title-color-fade {
    font-size: 128px;
    color: #B1B1B1;
}